---
---

<div class="mb-4 relative">
    <div class="w-full rounded-md bg-gradient-to-r from-zinc-50 via-primary-400 to-zinc-50 dark:from-zinc-900 dark:via-primary-500 dark:to-zinc-900 p-[1px]">
        <div class="h-full w-full rounded-md bg-white dark:bg-stone-900 p-4">
            <slot />
        </div>
    </div>
</div>
