---
const currentPath = new URL(Astro.request.url).pathname;

import Nav from "../components/Nav.vue";
import NavItem from "../components/NavItem.astro";
---

<div class="xl:hidden">
    <Nav client:visible />
</div>
<div class="hidden xl:block">
    <nav class="absolute bottom-0 left-0 w-full h-24 flex justify-center items-center">
        <ul class="nav-container">
            <NavItem isActive={currentPath === "/"} href="/" text="Getting Started" />
            <NavItem isActive={currentPath === "/basics"} href="/basics" text="Basics" />
            <NavItem isActive={currentPath === "/error-valid-states"} href="/error-valid-states" text="Error & valid states" />
            <NavItem isActive={currentPath === "/advanced-validation"} href="/advanced-validation" text="Advanced Validation" />
            <NavItem isActive={currentPath === "/loading-submit-state"} href="/loading-submit-state" text="Loading & Submit State" />
            <NavItem isActive={currentPath === "/custom-result"} href="/custom-result" text="Custom Result" />
            <NavItem isActive={currentPath === "/full-example"} href="/full-example" text="Full example" />
            <NavItem isActive={currentPath === "/shorthand"} href="/shorthand" text="Shorthand" />
        </ul>
    </nav>
</div>
